        #index {
            .title {
                background: #eee;
                font-size: 15px;
                padding: 5px 0 5px 10px;
            }
            .mint-cell {
                margin-bottom: 20px;
            }
            .mint-cell-wrapper {
                background: #fff;
            }
        }