$BgColor: #fffbef;
$navBgColor: #313131;
$tabBarItemBgColor: #bb916a; // 底部的tabbar的背景颜色
$tabBarItemFontColorSelected: #ffa91e; //被选中的颜色
$tabBarItemFontColor: #bb916a; //默认的颜色
$fontColor: #441900; //默认的字体颜色
$red:red;